page-login {
    .content {
        height: 100%;
        width: 100%;
        background: url('../assets/bg_login.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .wrapper {
        margin-top: calc(50vh - 120px);
    }
    .transparent-form{
        background-color: rgba(222, 222, 222, 0.4);
        border-radius: 10px;        
    }    
    .inputs-list{
        margin-bottom: 15px;
    }
}
