air-conditioner-comment {
    h2.name {
        margin-top: 0px !important;
    }
    ul {
        margin: 0px;
        padding: 0px;
        &.rating li {
            background: none;
            color: #ffb400; 
            padding: 0px !important;      
            ion-icon {
            font-size: 24px;
            }
        }
    }
}
