<ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img [src]="pictureUrl">
      </ion-avatar>
      <h2 class="name">{{ name }} </h2>
      <rating [ngModel]="rating" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        (ngModelChange)="onModelChange($event)">
      </rating> 
    </ion-item>
    
  <ion-card-content>
    {{ comment }}
  </ion-card-content>
</ion-card>