<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Comentários </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <air-conditioner-comment *ngFor="let comment of comments"
    [name]="comment.name"
    [comment]="comment.comment"
    [rating]="comment.rating"
    [pictureUrl]="comment.pictureUrl">    
  </air-conditioner-comment>
</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    <button ion-button icon-left block color="primary" (click)="dismiss()">
      <ion-icon name="arrow-round-back"></ion-icon>
      Voltar
    </button>
  </ion-toolbar>
</ion-footer>