<!--
  Generated template for the AirConditionerList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Simulador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-info">
    <ion-card-content>
      Este simulador irá lhe ajudar a encontrar o melhor ar condicionado para seu ambiente.
    </ion-card-content>
  </ion-card>

  <form #simulatorForm="ngForm" (ngSubmit)="calculate(simulatorForm)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Largura</ion-label>
        <ion-input type="number" [(ngModel)]="simulator.width" required min="1" name="width"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Comprimento</ion-label>
        <ion-input type="number" [(ngModel)]="simulator.length" required min="1" name="length"></ion-input>
      </ion-item>
      <ion-item *ngIf="(simulator.width * simulator.length) > 0 ">
        <ion-label color="primary">Área: {{ simulator.width * simulator.length }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Número de pessoas</ion-label>
        <ion-input type="number" [(ngModel)]="simulator.numPersons" name="numPersons"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Incidência de sol</ion-label>
        <ion-select [(ngModel)]="simulator.sunIncidence" name="sunIncidence">
          <ion-option value="0">Sem sol</ion-option>
          <ion-option value="1">Sol de manhã</ion-option>
          <ion-option value="2">Sol à tarde</ion-option>
          <ion-option value="3">Sol o dia todo</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Número de janelas</ion-label>
        <ion-input type="number" [(ngModel)]="simulator.numWindow" name="numWindow"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Número de eletrônicos</ion-label>
        <ion-input type="number" [(ngModel)]="simulator.numEletronics" name="numEletronics"></ion-input>
      </ion-item>
    </ion-list>
    
    <button ion-button block type="submit" color="secondary">Calcular</button>
    <button ion-button block color="primary" icon-left>
      <ion-icon name="arrow-round-back"></ion-icon>Voltar
    </button>
  </form>


</ion-content>
