<!--
  Generated template for the InstallersModal page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Instaladores </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card class="card-info">
    <ion-card-content>
      Estes instaladores têm experiência com o Ar Condicionado que você está interessado!
    </ion-card-content>
  </ion-card>
  
  <div text-center *ngIf="!loaded">
    <ion-spinner class="spinner" ></ion-spinner>
    <p>Carregando...</p>
  </div>
  <ion-list margin-top *ngIf="loaded">
    <installer *ngFor="let installer of installersList" [installer]="installer"></installer>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <button ion-button icon-left block color="primary" (click)="dismiss()">
      <ion-icon name="arrow-round-back"></ion-icon>
      Voltar
    </button>
  </ion-toolbar>
</ion-footer>
