page-installers-modal {
    .card-info{
        @include background-opacity(lighten(map-get($colors , primary ), 10%), 0.8);
        color: #fff;
        font-weight: bold;
        border-radius: 10px; 
    }

    ion-spinner {
        margin-top: 40px;
        width: 80px;
        height: 80px;
    }

}
