page-payment {
    .form-title {
        color: map-get($colors, 'primary');
        border-bottom: 1px solid map-get($colors, 'primary');
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .page-title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 20px 0;
        padding-top: 15px;
        color: map-get($colors, 'primary');
    }

   
    .camera {
        margin-right: 0px !important;
        ion-icon{
            min-height: 2.8rem;
            font-size: 2.8rem;
            line-height: 1;
            color: #000;
        }
    }
    
}   
