<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pagamento</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-list>
      <h4 class="form-title">Cartão de Crédito</h4>
      <ion-row>
        <ion-item ion-col>
          <ion-label color="primary" stacked>Número do cartão</ion-label>
          <ion-input type="tel" [(ngModel)]="creditCard.cardNumber"></ion-input>
          <button ion-button icon-only clear item-right class="camera" *ngIf="optionsToScanCard" (click)="scanCard()">
            <ion-icon name="camera"></ion-icon>
          </button>
        </ion-item>
      </ion-row>

      <ion-item>      
        <ion-label color="primary" stacked>Data de vencimento</ion-label>
        <ion-input type="tel" [(ngModel)]="dtValidate"></ion-input>
        <ion-icon name="help-circle"  item-right ></ion-icon>
      </ion-item>

      <ion-item>      
        <ion-label color="primary" stacked>CVV</ion-label>
        <ion-input type="tel" ></ion-input>
          <ion-icon name="help-circle" item-right ></ion-icon>
      </ion-item>        

    <ion-item-group>
        <h4 class="form-title">Endereço</h4> 
        <ion-row>
          <ion-item ion-col margin-right>      
            <ion-label color="primary" stacked>CEP</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item> 

          <ion-item ion-col>      
            <ion-label color="primary" stacked>Estado</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>   
        </ion-row>

        <ion-item ion-col>      
          <ion-label color="primary" stacked>Cidade</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>  

        <ion-item ion-col>      
          <ion-label color="primary" stacked>Bairro</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item> 

        <ion-row>
          <ion-item ion-col col-8 margin-right>      
            <ion-label color="primary" stacked>Rua</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>  

          <ion-item ion-col>      
            <ion-label color="primary" stacked>Número</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>        
        </ion-row>   
    </ion-item-group>
  </ion-list>


  <button ion-button color="secondary" block icon-left (click)="finishPayment()">
      <ion-icon name="card"></ion-icon>
      Comprar
  </button>
  <button ion-button color="primary" block icon-left (click)="backPage()">
    <ion-icon name="arrow-round-back"></ion-icon>      
    Voltar
  </button>
</ion-content>
