// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Variáveis menu header
$menuHeaderBottom:  lighten(map-get($colors, dark), 40%);
$menuHeaderTop: lighten(map-get($colors, primary), 5%);
// Variáveis menu content
$menuContentBottom: lighten(map-get($colors, dark), 10%);
$menuContentTop: darken(map-get($colors, primary), 5%);

@mixin gradient($firstColor, $secondColor){
    background: -webkit-gradient(left top, $firstColor, $secondColor);
    background: -o-linear-gradient(bottom right, $firstColor, $secondColor);
    background: -moz-linear-gradient(bottom right, $firstColor, $secondColor);
    background: linear-gradient(to bottom right, $firstColor, $secondColor);
}
@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include gradient($menuContentBottom, $menuContentTop);
    .menu-header{        
        @include gradient($menuHeaderBottom, $menuHeaderTop);
        padding: 30px 10px 30px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .container {
            position: relative;
            > .profile {
                max-width: 100px;
                border-radius: 50%;
                border: 2px solid #e7930e;
            }
            > .icon-camera {
                position: absolute;
                font-size: 20px;
                color: lighten(#e7930e, 20);
                background-color: darken(#e7930e, 15);
                border: 1px solid darken(#e7930e, 15);
                padding: 2px 5px;
                border-radius: 50%;
                bottom: 1px;
                right: 3px;
            }

        }
    }
    .menu-content{
        >.item{
            padding: 5px;
            background-color: inherit;
            color: #fff;            
            >.item-inner{
                border: 0px;
                padding-left: 10px;
            }
        }
    }
    .menu-footer {
        align-self: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        >.logo{
            margin-bottom: 20px;
        }
    }
}
