<ion-menu [content]="content">
  <ion-content>
    <div class="menu">
      <div class="menu-header"> 
        <div class="container">
          <img [src]="userData?.client.photo" 
            alt="profile"
            class="profile">
            <ion-icon class="icon-camera" name="camera"></ion-icon>        
        </div>       
      </div>
      <div class="menu-content">
        <button menuClose ion-item icon-left *ngFor="let page of pages" (click)="openPage(page)">
          <ion-icon [name]="page.icon"></ion-icon>
          {{page.title}}
        </button>
        <button menuClose ion-item icon-left (click)="logout()">
          <ion-icon name="exit"></ion-icon>
          Sair
        </button>
      </div>
      <div class="menu-footer">
        <img src="assets/logo-frio-pecas2.png" class="logo">
      </div>
    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>