<!--
  Generated template for the AirConditionerList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Instaladores</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <installer *ngFor="let installer of installersList" [installer]="installer"></installer>
  </ion-list>

</ion-content>
