<!--
  Generated template for the AirConditionerList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="loading-container" *ngIf="!loaded">
    <ion-spinner class="loading" color="primary"></ion-spinner>
  </div>

  <div *ngIf="loaded">
    <div text-center  class="user-profile">
      <img src="{{userData.client.photo}}" alt="Foto usuario" class="user-img">
      <h3 class="user-name" text-wrap>{{userData.client.user.firstName + ' ' + userData.client.user.lastName}}</h3>     
    </div>

    <ion-list>
      <ion-list-header>
        Minha conta
      </ion-list-header>
      <ion-item>
        <ion-label color="primary">Alterar senha</ion-label>
        <ion-input type="password" placeholder="Nova senha"></ion-input>
        <button ion-button icon-only clear item-right class="save-password">
            <ion-icon name="refresh"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <span color="primary">Email vinculado:</span>
        {{userData.client.user.email}}
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-item>
        <ion-label>Receber promoções e ofertas</ion-label>
        <ion-toggle [(ngModel)]="notification"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Salvar últimas pesquisas</ion-label>
        <ion-toggle [(ngModel)]="lastSearchs"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
    
</ion-content>
