page-configurations {
    .loading-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 110px);
        .loading {
            height: 110px;
            width: 110px;
        }
    }

    .user-profile{
        display: flex;
        flex-direction: row;
        > .user-img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            border: 2px solid #e7930e;
        }
        > .user-name{
            align-self: center;
            margin-left: 10px;
        }
        margin-bottom: 10px;
    }
    .save-password {
        margin-right: 0px !important;
        ion-icon{
            min-height: 2.8rem;
            font-size: 2.8rem;
            line-height: 1;
            color: #000;
        }
    }
}
