page-air-conditioner-list {
    .flex-card{
        display: flex;
        flex-direction: row;
        max-height: 195px;
        img {
            max-width: 40%;
        }  
        .card-title{
            font-weight: bold;
        }
        ul {
            padding: 0px;
            margin: 0px;
            &.rating li {
                background: none;
                color: #ffb400; 
                padding: 0px !important;      
                ion-icon {
                font-size: 24px;
                }
            }
        } 
        button.btn-detail {
            float: right;
        }   
    }
    .card-info{
        @include background-opacity(lighten(map-get($colors , primary ), 10%), 0.8);
        color: #fff;
        font-weight: bold;
        border-radius: 10px; 
    }
}
