<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FrioPeças</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="card-info" *ngIf="btus">
    <ion-card-content>
      Ar condicionados com no mínimo {{btus}} btus.
    </ion-card-content>
  </ion-card>
  <ion-card class="flex-card" *ngFor="let airConditioner of airConditionerList">
    <img [src]="airConditioner.pictureUrl"/>
    <ion-card-content>
      <h2 class="card-title">{{ airConditioner.name }}</h2>
      <h4>{{ airConditioner.price }}</h4>
      <p>
        {{ airConditioner.description }}        
      </p>
      <rating [ngModel]="airConditioner.rating" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" >
      </rating>
      <button class="btn-detail" ion-button right color="primary" (click)="goToDetailPage(airConditioner)">Ver mais</button>      
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <button ion-button icon-right block color="primary" (click)="goToInstallersList()">
      Em dúvida? Contate um instalador.
      <ion-icon name="build"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
