page-signup {
    .form-title {
        color: map-get($colors, 'primary');
        border-bottom: 1px solid map-get($colors, 'primary');
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .page-title {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 20px 0;
        padding-top: 15px;
        color: map-get($colors, 'primary');
    }

    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .container-photo {
            position: relative;
            .profile {
                max-width: 100px;
                border-radius: 50%;
                border: 2px solid #e7930e;
            }
            .icon-camera {
                position: absolute;
                font-size: 20px;
                color: lighten(#e7930e, 20);
                background-color: darken(#e7930e, 15);
                border: 1px solid darken(#e7930e, 15);
                padding: 2px 5px;
                border-radius: 50%;
                bottom: 1px;
                right: 3px;
            }
        }
    }
}
