<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>FrioPeças - Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <h1 class="page-title">
    Cadastre-se aqui e encontre os melhores ar-condicionados.
  </h1>

  <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value, signupForm.valid)" novalidate>
    <h2 class="form-title"> Sobre você </h2>

    <ion-list>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Sobrenome:</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <div class="container-flex">
          <div class="container-photo">
            <img class="profile" src="assets/male-user.png" (click)="getPhoto()" *ngIf="!photoBase64">
            <img class="profile" [src]="photoBase64" (click)="getPhoto()" *ngIf="photoBase64">
            <ion-icon name="camera" class="icon-camera" (click)="getPhoto()"></ion-icon>
          </div>
        </div>
        <p text-wrap>No app FrioPeças você poderá conversar diretamente com instaladores, por isso é interessante ter aqui a sua foto!</p>
      </ion-item>
    </ion-list>

    <h2 class="form-title"> Endereço </h2>
    <ion-list>
      <ion-item>
        <ion-label stacked>Rua</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Número</ion-label>
        <ion-input type="text" formControlName="streetNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cidade</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Estado</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Bairro</ion-label>
        <ion-input type="text" formControlName="district"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Cep</ion-label>
        <ion-input type="number" formControlName="zipCode"></ion-input>
      </ion-item>
    </ion-list>

    <small text-center>Todos os campos são obrigatórios.</small>
    <button ion-button block color="primary" [disabled]="signupForm.invalid"> Cadastrar </button>

  </form>
</ion-content>
