<!--
  Generated template for the Installer component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-item>
  <ion-thumbnail item-left>
    <img [src]="installer.photo">
  </ion-thumbnail>
  <h2 class="installer-name">{{installer.user.firstName }} {{installer.user.lastName | capitalize}}</h2>
  <p>{{installer.city | capitalize}} - {{installer.state}}</p>
  <p>{{installer.user.email}}</p>
  <rating [ngModel]="installer.rating" 
    readOnly="true" 
    max="5" 
    emptyStarIconName="star-outline" 
    halfStarIconName="star-half" 
    starIconName="star" 
    nullable="false" 
    (ngModelChange)="onModelChange($event)"></rating>   
</ion-item>
