page-air-conditioner-detail {
    position: relative;
    ion-card.card-detail{
        width: 100%;
        margin: 0;
        .air-conditioner-picture{
            margin: auto;
            max-width: 200px;
            max-height: 200px;
        }
        .extra-information{
            font-size: 1.3rem;
        }
        .price{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            span{
                align-self: flex-end;
            }
            ul {
                padding: 0px;
                margin: 0px;
                &.rating li {
                    background: none;
                    color: #ffb400; 
                    padding: 0px !important;      
                    ion-icon {
                    font-size: 24px;
                    }
                }
            }
        }
    }
    .btn-actions {
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: calc(100% - 10px);
        margin: 0 5px;
        padding: 0;
        button{
            margin: 6px 0;
        }
    }
}
