<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ airConditioner.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card class="card-detail">

    <ion-item>
      <h1>{{ airConditioner.name }}</h1>
      <p class="price">
        <span>{{ airConditioner.price }}</span>
        <rating [ngModel]="airConditioner.rating" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline" 
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" >
        </rating>
      </p>
      
    </ion-item>

    <img class="air-conditioner-picture" [src]="airConditioner.pictureUrl">

    <ion-card-content>
      <p>{{ airConditioner.description }}</p>
    </ion-card-content>

    <ion-row  justify-content-between>
      <ion-col>
        <button ion-button icon-left clear small (click)="openInstallersModal()">
          <ion-icon name="thumbs-up"></ion-icon>
          <div class="extra-information">3 Instaladores</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="openCommentsModal()">
          <ion-icon name="text"></ion-icon>
          <div class="extra-information">4 Comentários</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <div class="btn-actions">
    <button ion-button color="secondary" block icon-left (click)="goToPaymentPage()">
      <ion-icon name="card"></ion-icon>
      Comprar
    </button>
    <button ion-button color="primary" block icon-left (click)="backPage()">
      <ion-icon name="arrow-round-back"></ion-icon>      
      Voltar
    </button>
  </div>
</ion-content>